{% extends "layout.html" %}
{% block content%}
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="static/pics/profile_pic.jpg" style="border-radius: 50%;" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">Yichun Liu
                                
                                <label text-align = "left" class="label label-info"><small>Maior: Management and System NYU</small></label>
                                <label class="label label-info"><small></small></label>
                        
                            </li>
                            <li class="email"><a href="#">yl6343@nyu.edu</a></li>
                            
                        </ul>
                    </div>
            
                </div>
                <!--Side Section-->

                <div class="content-panel">
                    <div class="content-header-wrapper">
                        <h2 class="title">My Background</h2>
                        <div class="actions">
                            <button class="btn btn-success" ><i class="fa fa-plus" ></i> <a href="https://www.linkedin.com/in/yichun-liu-ba1a0818a/" style="color:cornsilk;">Yichun(Yida) Liu</a></button>
                        </div>
                    </div>
                    <div class="content-utilities">
                    
                        
                        <div class="actions">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">Education Background <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="fa fa-file"></i> Master</a></li>
                                    <li><a href="#"><i class="fa fa-file-image-o"></i> Bachelor</a></li>
                            
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false"><i class="fa fa-filter"></i> Academic Projects <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Web App</a></li>
                                    <li><a href="#">Database Design</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="card" style=" margin-block-end: 8px;">
                        <div class="col-sm-12" >
                            <img  src="static/pics/nyu.png" style="float: left; margin-right: 125px; opacity: 0.8; border-radius: 50%;" height="140" width="140" alt="Frist slide">
                            <h5 style="font-size: medium;" >Master's at New York University</h5>
                            <ul>
                                <li style="font-size: small;">Management and System</li>
                                <li style="font-size: small;">Database Technology Concentration</li>
                                <li style="font-size: small;">GPA: 3.8</li>
                            </ul>
                        </div>
                    </div> 
                    

                    <div class="card" style="margin-block-end: 8px;">
                        <div class="col-sm-12" >
                            <img  src="static/pics/nyit.png" style="float: left; margin-right: 125px; opacity: 0.8; border-radius: 50%;" height="140" width="140" alt="Second slide">
                            <h5 style="font-size: medium;" >Bachelor's at New York Institute of Techenology</h5>
                            <ul>
                                <li style="font-size: small;">Business Administration</li>
                                <li style="font-size: small;"> Finance Concentration</li>
                                <li style="font-size: small;">GPA: 3.8</li>
                            </ul>
                        </div>
                    </div>    
                
                     <!--  
             
                        <div class="row"> 
                          <div class="card col-sm-6">
                            <img class="card-img-top"  src="static/pics/nyu.jpg"  alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                        <div class="card col-sm-6">
                            <img class="card-img-top" src="static/pics/nyit.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                        </div>  
                   -->

                    <div class="drive-wrapper drive-list-view">
                        <div class="table-responsive drive-items-table-wrapper">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="type"></th>
                                        <th class="name truncate">Course Name</th>
                                        <th class="date">Semester</th>
                                        <th class="size">Interesting</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="type"><i class="fas fa-school" style="color: coral;"></i></td>
                                        <td class="name truncate"><a href="#">Database Technologies for Web Applications</a></td>
                                        <td class="date">Spring 2020</td>
                                        <td class="size">Love It</td>
                                    </tr>

                                    <tr>
                                        <td class="type"><i class="fas fa-school" style="color: coral;"></i></td>
                                        <td class="name truncate"><a href="#">Data Mining and Data Warehousing</a></td>
                                        <td class="date">Spring 2020</td>
                                        <td class="size">Love It</td>
                                    </tr>

                                    <tr>
                                        <td class="type"><i class="fas fa-school" style="color: coral;"></i></td>
                                        <td class="name truncate"><a href="#">Database Design & Management</a></td>
                                        <td class="date">Spring 2020</td>
                                        <td class="size">Love It</td>
                                    </tr>

                                    <tr>
                                        <td class="type"><i class="fas fa-school" style="color: coral;"></i></td>
                                        <td class="name truncate"><a href="#">Advanced Database Design & Management</a></td>
                                        <td class="date">Fall 2018</td>
                                        <td class="size">Love It</td>
                                    </tr>


                                    
                                    
                                    <tr>
                                        <td class="type"><i class="fas fa-school" style="color: coral;"></i></td>
                                        <td class="name truncate"><a href="#">Business Analysis and Visualization</a></td>
                                        <td class="date">Fall 2018</td>
                                        <td class="size">Love It</td>
                                    </tr>
                                    <tr>
                                        <td class="type"><i class="fas fa-school" style="color: coral;"></i></td>
                                        <td class="name truncate"><a href="#">Project Management</a></td>
                                        <td class="date">Spring 2019</td>
                                        <td class="size">Love It</td>
                                    </tr>
                                    <tr>
                                        <td class="type"><i class="fas fa-school" style="color: coral;"></i></td>
                                        <td class="name truncate"><a href="#">Information Technology & Data Analytics</a></td>
                                        <td class="date">Fall 2018</td>
                                        <td class="size">Love It</td>
                                    </tr>
                                    <tr>
                                        <td class="type"><i class="fas fa-school" style="color: coral;"></i></td>
                                        <td class="name truncate"><a href="#">Managing in A Global Economy</a></td>
                                        <td class="date">Fall 2018</td>
                                        <td class="size">Love It</td>
                                    </tr>
                                    <tr>
                                        <td class="type"><i class="fas fa-school" style="color: coral;"></i></td>
                                        <td class="name truncate"><a href="#">Quantitative Models for Decision-Makers</a></td>
                                        <td class="date">Fall 2018</td>
                                        <td class="size">Love It</td>
                                    </tr>
                                    <tr>
                                        <td class="type"><i class="fas fa-school" style="color: coral;"></i></td>
                                        <td class="name truncate"><a href="#">Strategic Marketing</a></td>
                                        <td class="date">Fall 2019</td>
                                        <td class="size">Love It</td>
                                    </tr>
                                    <tr>
                                        <td class="type"><i class="fas fa-school" style="color: coral;"></i></i></td>
                                        <td class="name truncate"><a href="#">Research Process & Methodology</a></td>
                                        <td class="date">Fall 2019</td>
                                        <td class="size">Love It</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content%}
